rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /parents/{parent} {
      allow read,write: if request.auth.token.email == parent;
    }
    match /children/{child} {
      allow read,write: if request.auth.token.email in resource.data.child.parents;
    }
  }
}