<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746183158777-thoarvunc5kfemvqr14j2ff04omsg0gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746183158777-thoarvunc5kfemvqr14j2ff04omsg0gs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>746183158777-8audqejorcc1mtjqhmpdif4713upd5ou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcoFEykM-SBq5m9bXegvvVgnHhcdm6s18</string>
	<key>GCM_SENDER_ID</key>
	<string>746183158777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morganengel</string>
	<key>PROJECT_ID</key>
	<string>dadbank-fcbc6</string>
	<key>STORAGE_BUCKET</key>
	<string>dadbank-fcbc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746183158777:ios:6bc51fb56de0ffdf932b28</string>
	<key>DATABASE_URL</key>
	<string>https://dadbank-fcbc6-default-rtdb.firebaseio.com</string>
</dict>
</plist>